.Container {
    margin: 50px auto !important;
    /* padding: 25px 0; */
}

.Card {
    margin: 0 2% !important;
}

.Infected {
    border-bottom: 10px solid rgba(0, 0, 255, 0.5);
}

.Recovered {
    border-bottom: 10px solid rgba(0, 255, 0, 0.5);
}

.Dead {
    border-bottom: 10px solid rgba(255, 0, 0, 0.5);
}